img {
    height: 20px;
    width: 20px;
}

.main-section {
    display: inline-flex;
    flex-basis: 35rem;
    flex-direction: column;
    flex-shrink: 1;
    max-width: 35rem;
    padding: 1em 3em;
    margin-top: 280px;
    margin-left: 150px;
}

.changes {
    font-size: 1.375rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.75rem;
    color: var(--gm3-sys-color-on-surface-variant, #444746);
    max-width: 30rem;
    padding-bottom: 2rem;
}

.btns {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    border-bottom: 1px solid black;
    padding: 24px;
}

.new-meeting-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
    gap: 10px;
    border: none;
    background-color: #1A73E8;
    color: white;
}

.join-meeting-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.input-container input {
    border-radius: 10px;
    padding: 9px;
    width: 180px;
    /* border: none; */
}

.join-button {
    border: none;
    background: transparent;
    padding: 5px;
}